@import "./color.scss";

@font-face {
    font-family: "MiSans";
    src: url("../assets/MiSans-Normal.woff2");
}

@font-face {
    font-family: "SuXinShi";
    src: url("../assets/SuXinShiMaoCaoTi.woff2");
}

body {
    margin: 15px 15px 15px 15px;
    overflow: hidden;
    background-color: $black;
    
    font-family: "MiSans", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: $white;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 25.6px;
}

h3 {
    font-size: 19.2px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12.8rem;
}

h6 {
    font-size: 9.6px;
}

p, span {
    font-size: 12.8px;
}

.icon {
    width: 80%;
    height: 80%;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
}