@font-face {
    font-family: "MiSans";
    src: url("../assets/MiSans-Medium.woff2");
}

@font-face {
    font-family: "ZiHunJianQi";
    src: url("../assets/ZiHunJianQiShouShu.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26272b;
    font-family: "MiSans";
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: #e6ebff;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 25.6px;
}

h3 {
    font-size: 19.2px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12.8rem;
}

h6 {
    font-size: 9.6px;
}

p,
span {
    font-size: 12.8px;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
}